# Android emulator: http://10.0.2.2:5000/api
# iOS simulator: http://localhost:5000/api
# Physical device: replace the IP below with the computer's LAN IP.
EXPO_PUBLIC_API_BASE_URL=http://192.168.100.188:5000/api
EXPO_PUBLIC_TOKEN_KEY=token
EXPO_PUBLIC_REFRESH_TOKEN_KEY=refresh_token
EXPO_PUBLIC_LOCALE_KEY=locale
EXPO_PUBLIC_THEME_KEY=theme
